.additional-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
//   @media (max-width: $medium-width) {
//     display: none; //- пробовал работать с самим списком, с его элементами. Залача - чтобы на мобилке
//                    //он был скрыт(список), на планшете появлялся элемент с --visible,
//                    //а на десктопе было просто display: block; Получилось частично
//   }
// }

.additional-navigation__item {
  display: none;

  @media (min-width: $wide-width) {
    display: block;
  }

  &--visible {
    @media (min-width: $medium-width) {
      display: block;
    }
  }
}

.additional-navigation a {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $main-color;
  text-decoration: none;
}

.additional-navigation__item:last-child a {
  font-weight: 400;
}
