.by-color {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  padding-top: 40px;
  font-weight: 700;

  @media (min-width: $medium-width) {
    grid-template-columns: repeat(4, 167px);
  }

  @media (min-width: $wide-width) {
    grid-template-columns: repeat(6, 175px);
  }
}

.by-color__title {
  font-size: 17px;
  line-height: 16px;
  color: $secondary-color;
  text-transform: uppercase;

  @media (min-width: $medium-width) {
    grid-column: 1 / 2;
  }

  @media (min-width: $wide-width) {
    padding-left: 60px;
  }
}

.by-color__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $medium-width) {
    grid-column: 2 / -1;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $wide-width) {
    display: grid;
    grid-template-columns: 262px 264px 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
  }
}

.by-color__item {
  @media (min-width: $medium-width) and (max-width: $medium-width-limit) {
    width: 220px;

    &--white {
      order: 1;
    }

    &--black {
      order: 4;
    }

    &--grey {
      order: 2;
    }

    &--pink {
      order: 5;
    }

    &--tiffany {
      order: 3;
    }

    &--orange {
      order: 6;
    }
  }
}
