.card {
  border: 1px solid #ECECEC;
}

.card__image-wrapper {

}

.card__image-link {
  display: block;
  width: 260px;
  height: 195px;
  background: red;
}

.card__title-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: $main-color;
}

.card__specifications {
  font-size: 15px;
  line-height: 30px;
}

.card__price {
  font-weight: 700;
  line-height: 24px;
}
