.card {
  display: grid;

  @media (min-width: $medium-width) and (max-width: $medium-width-limit) {
    grid-column: 1 / -1;
    grid-template-columns: repeat(4, 167px);
    grid-auto-flow: column;
  }

  @media (min-width: $wide-width) {
    // grid-column: span 2;
    width: 316px;
    min-height: 659px;
  }
}

.card__image-wrapper {
  margin: 0;

  @media (min-width: $medium-width) and (max-width: $medium-width-limit) {
    grid-column: 1 / 3;
  }
}

.card__image-link {
  display: block;
  height: 195px;
  background: red;

  @media (min-width: $medium-width) and (max-width: $medium-width-limit) {
    height: 334px;
  }

  @media (min-width: $wide-width) {
    width: 316px;
    height: 462px;
  }
}

.card__info {
  border: 1px solid $frame-color;

  @media (min-width: $medium-width) and (max-width: $medium-width-limit) {
    grid-column: 3 / 5;
  }
}

.card__title {
  margin: 0;
}


.card__title-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $main-color;

  @media (min-width: $medium-width) {
    font-size: 20px;
  }
}

.card__specifications {
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $medium-width) {
    font-size: 15px;
  }
}

.card__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $medium-width) {
    font-size: 17px;
  }
}
