.catalog-article {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  margin-top: 30px;

  @media (min-width: $medium-width) {
    grid-template-columns: 668px;
    margin-top: 53px;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1050px;
    margin-top: 57px;
  }
}

.catalog-article__wrapper {
  display: grid;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $medium-width) {
    grid-template-columns: repeat(4, 167px);
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1fr 367px;
    grid-template-rows: min-content min-content min-content;
  }
}

.catalog-article__image-wrapper {
  width: 260px;
  margin: 0;

  @media (min-width: $medium-width) {
    grid-column: 1 / -1;
    width: auto;
  }

  @media (min-width: $wide-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
}

.catalog-article__image-link {
  display: block;
  min-height: 150px;

  @media (min-width: $medium-width) {
    min-height: 455px;
  }

  @media (min-width: $wide-width) {

  }
}

.catalog-article__image {
  display: block;
  width: 100%;
  min-height: 150px;

  @media (min-width: $medium-width) {
    min-height: 455px;
  }

  @media (min-width: $wide-width) {

  }
}

.catalog-article__title {
  grid-row: 1 / 2;
  position: relative;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 90px;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $main-color;
  border: 1px solid $frame-color;
  border-bottom: none;

  @media (min-width: $medium-width) {
    grid-column: 1 / -1;
    padding: 41px 107px 24px 107px;
    grid-row: auto;
    font-size: 20px;
  }

  @media (min-width: $wide-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 96px 57px 27px 78px;
  }

  &::before {
    position: absolute;
    top: 34px;
    left: 33px;
    content: "";
    width: 32px;
    height: 22px;
    background-image: url(../img/icon-camera.svg);
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $medium-width) {
      top: 38px;
      left: 41px;
    }

    @media (min-width: $wide-width) {
      top: 46px;
      left: 78px;
    }
  }
}

.catalog-article__description {
  padding: 35px 25px 41px 33px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  border-left: 1px solid $frame-color;
  border-right: 1px solid $frame-color;

  @media (min-width: $medium-width) {
    grid-column: 1 / -1;
    padding: 0px 40px 40px 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $wide-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0px 57px 51px 78px;
  }
}

.catalog-article__to-order {
  padding: 0 34px 33px 33px;
  margin: 0;
  border: 1px solid $frame-color;
  border-top: none;

  @media (min-width: $medium-width) {
    grid-column: 1 / -1;
    padding: 0px 42px 46px 42px;
  }

  @media (min-width: $wide-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: auto;
    padding: 0px 57px 60px 79px;
  }
}
