.container {
  width: $narrow-width;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $medium-width) {
    width: $medium-width;
    padding: 0 50px;
  }

  @media (min-width: $wide-width) {
    width: $wide-width;
  }
}
