.contact-details {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;

  @media (min-width: $medium-width) {
    grid-template-columns: repeat(4, 167px);
  }

  @media (min-width: $wide-width) {
    grid-template-columns: repeat(6, 175px);
  }
}

.contact-details__label {
  line-height: 16px;
  font-weight: 700;
  color: $secondary-color;
  text-transform: uppercase;

  @media (min-width: $medium-width) {
    grid-column: 1 / 2;
  }

  @media (min-width: $wide-width) {
    padding-left: 60px;
  }
}

.contact-details__input {
  @media (min-width: $medium-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $wide-width) {
    grid-column: 2 / -2;
  }
}
