
//С этой секцией возникли траблы. Таблица не хочет слушаться гридовых правил, хз почему.
//Да и делать таблицу на гридах надо ли. Короче как это можно распетлять красиво?
.contacts {

}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
}

.contacts__contact-button {
  margin: 0 auto;
}

.contacts__title {
  // display: grid;
  // grid-template-columns: 260px;
  // justify-content: center;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $main-color;

  @media (min-width: $medium-width) {
    grid-template-columns: repeat(2, 334px);
    grid-template-rows: 81px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1050px;
  }

  &::after {
    @media (min-width: $medium-width) and (max-width: $wide-width) {
      content: "";
      width: 47px;
      height: 81px;
      background: green;
      margin-left: auto;
    }
  }
}

.contacts__table {
  // display: grid;
  // grid-template-columns: 260px;
  // justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 14px;

  @media (min-width: $medium-width) {
    grid-template-columns: repeat(2, 334px);
    grid-template-rows: 140px;
    font-size: 17px;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1050px;
  }
}

.contacts__table-body {
  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: repeat(2, 334px);
  }

  @media (min-width: $wide-width) {
    display: table-row-group;
  }
}

.contacts__row {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;

  &:first-child {
    @media (min-width: $medium-width) {
      grid-column: 1 / 2;
    }
  }

  &:last-child {
    @media (min-width: $medium-width) {
      grid-column: 2 / 3;
    }
  }
}

.contacts__cell {
  margin: 0;
  padding: 0;
}

.contacts__email {
  color: $main-color-lightest;
  border-bottom: 1px solid $secondary-color-lightest-type1;
}

.contacts__map {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  background: red;
}

.contacts__contact-with-us {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;

  @media (min-width: $medium-width) {
    grid-template-columns: 668px;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1050px;
  }
}
