.copyright {
  display: grid;
  align-items: center;
  justify-content: center;

  @media (min-width: $medium-width) {
    justify-content: end;
  }

  @media (min-width: $wide-width) {
    grid-column: 5 / 7;
    justify-content: end;
  }
}

.copyright__link {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  width: 180px;
}

.copyright__label {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: $main-color;
}
