.feedback {
  position: relative;
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  margin-top: 57px;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 768px;
    justify-content: center;
    //display: block;
    //width: 768px;
    //padding: 0 50px;
    //margin: 0 auto;
    //grid-template-columns: 334px 334px;
    //grid-template-rows: minmax(52px, auto)
    //                    minmax(120px, auto);
    margin-top: 30px;
    //background-image: url(../img/napkin-desktop.png);
    //background-repeat: no-repeat;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1050px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 6px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-size: contain;

    @media (min-width: $medium-width) {
      height: 17px;
      bottom: -86px;
    }

    @media (min-width: $wide-width) {
      display: none;
    }
  }
}

.feedback__wrapper {
  @media(min-width: $medium-width) {
    position: relative;
    display: grid;
    grid-template-columns: 334px 334px;
    grid-template-rows: minmax(52px, auto)
                        minmax(120px, auto);
    justify-content: center;
    background-image: url(../img/napkin-desktop.png);
    background-repeat: no-repeat;
    background-position: 0px -2px;
  }

  @media (min-width: $wide-width)  {
    grid-template-columns: repeat(6, 175px);
    grid-template-rows: min-content 1fr;
    min-height: 457px;
    background-position: 0px 3px;

    &::after {
      content: "";
      position: absolute;
      bottom: -94px;
      width: 100%;
      height: 23px;
      background-image: url(../img/bg-zigzag-line.svg);
      background-size: contain;
    }
  }
}

.feedback__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  color: $main-color;

  @media (min-width: $medium-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 81px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $wide-width) {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    font-size: 53px;
    line-height: 57px;
  }
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $medium-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  @media (min-width: $wide-width) {
    grid-column: 2 / -1;
  }
}

.feeback__item {

}

.feedback__review {
  margin: 0;
}

.feedback__text {
  font-size: 15px;

  @media (min-width: $medium-width) {
    padding-top: 39px;
    font-size: 17px;

    br {
      display: none;
    }
  }

  @media (min-width: $wide-width) {
    padding-top: 36px;
  }

  &--anastasia {
    margin-top: 14px;
    margin-bottom: 31px;

    @media (min-width: $medium-width) {
      margin-top: 0;
      margin-bottom: 60px;
    }

    @media (min-width: $wide-width) {
      width: 810px;
      margin-bottom: 44px;
    }
  }
}

.feedback__author {
  font-style: normal;
  line-height: 24px;

  @media (min-width: $medium-width) {
    display: block;
    width: 300px;
    padding-bottom: 48px;
    font-size: 18px;
    line-height: 30px;

    br {
      display: none;
    }
  }

  @media (min-width: $medium-width) {
    line-height: 24px;
  }
}

.feedback__name {
  font-weight: 700;
  color: $main-color;

  @media (min-width: $medium-width) {
    display: block;
    padding-bottom: 5px;
  }

  @media (min-width: $wide-width) {
    font-size: 17px;
    padding-bottom: 3px;
  }
}

.feedback__username {
  color: $main-color-lightest;

  @media (min-width: $medium-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.feedback__to-submit {
  margin: 0;

  @media (min-width: $medium-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 159px;
    padding-top: 77px;
  }

  @media (min-width: $wide-width) {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    padding-left: 175px;
    padding-top: 82px;
  }
}
