.feedback {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}

.feedback__title {
  font-weight: 700;
  font-size: 53px;
  line-height: 57px;
}

.feedback__text {

}

.feedback__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.feedback__username {

}

.feedback__submit {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
