.footer-logo {
  display: none;
  margin: 0;

  @media (min-width: $medium-width) {
    display: block;
    margin: auto 0;
  }
}

.footer-logo__link {
  display: block;
}

.footer-logo__image {
  display: block;
}
