.general-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.general-navigation a {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $main-color;
  text-decoration: none;
}
