.our-assortment {

}

.our-assortment__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 668px;
    margin: 0 auto;
    //Можно сделать проще
    //grid-template-columns: 334px 334px;
    //justify-content: center;
  }

  @media (min-width: $wide-width) {
    width: 1050px;
  }
}

.our-assortment__item {
  // background-color: $secondary-color;
}

.our-assortment__link {
  display: block;
  height: 103px;

  &--interior {
    background-color: $secondary-color;
  }

  &--toys {
    background-color: $secondary-color-medium;
  }
}

.our-assortment__title {
  width: 130px;
  padding: 0;
  margin: 0;
}

.our-assortment__item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: $main-background-color;
}
