.our-assortment {
  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 334px 334px;
    justify-content: center;
    background-color: $background-color-header-index;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 525px 525px;
  }
}

.our-assortment__item {
  &--interior {
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color--hover;
    }
  }

  &--toys {
    background-color: $secondary-color-medium;

    &:hover {
      background-color: $secondary-color-medium--hover;
    }
  }

  // @media (min-width: $medium-width) {
  //   grid-template-columns: auto;
  //   justify-content: start;
  // }
}

.our-assortment__link {
  display: grid;
  grid-template-columns: 1fr 180px 80px 1fr;
  min-height: 103px;
  padding-top: 20px;

  @media (min-width: $medium-width) {
    display: flex;
    width: 334px;
    min-height: 119px;
    padding-left: 45px;
  }

  @media (min-width: $wide-width) {
    width: 525px;
  }

  &--interior {
    padding-top: 23px;

    &::before {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      // position: absolute;
      // top: 23px;
      // right: 6px;
      content: "";
      width: 40px;
      height: 62px;
      margin-left: 34px;
      background-image: url(../img/our-assortment__interior-img.svg);
      opacity: 0.5;

      &:hover {
        opacity: 0.7;
      }//Почему не работает opacity на ховер и фокус?

      @media (min-width: $medium-width) {
        top: 30px;
        right: 36px;
      }
    }
  }

  &--toys {
    padding-top: 21px;

    &::before {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      // position: absolute;
      // top: 21px;
      // right: -3px;
      content: "";
      width: 60px;
      height: 60px;
      margin-left: 23px;
      background-image: url(../img/our-assortment__toys-img.svg);
      opacity: 0.5;

      @media (min-width: $medium-width) {
        top: 31px;
        right: 33px;
      }

      @media (min-width: $wide-width) {
        right: 35px;
      }
    }
  }
}

.our-assortment__title {
  padding: 0;
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $main-background-color;

  @media (max-width: $narrow-width-only) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--interior {
    padding-top: 1px;
  }

  &--toys {
    padding-top: 3px
  }
}
