.page-form {
  color: $main-color;
}

.page-form__intro {

}

.page-form__title {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  align-items: center;
  min-height: 177px;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  background-color: $main-background-color-medium;
  text-align: center;

  @media (min-width: $medium-width) {
    grid-template-columns: 668px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1050px;
    font-size: 53px;
    line-height: 57px;
  }
}

.page-form__description {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  font-size: 13px;
  line-height: 24px;
  color: $main-color-lightest;

  @media (min-width: $medium-width) {
    grid-template-columns: 668px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $wide-width) {
    display: block;
    width: 1050px;
    margin: 0 auto;
    padding-left: 175px;
    padding-right: 200px;
  }
}

.page-form__outro {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;

  @media (min-width: $medium-width) {
    grid-template-columns: 334px 334px;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: repeat(6, 175px);
  }
}

.page-form__notice {
  font-size: 14px;
  line-height: 16px;
  color: $main-color-lightest;

  @media (min-width: $medium-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    padding-left: 85px;
  }

  @media (min-width: $wide-width) {
    grid-column: 4 / 6;
    padding-left: 100px;
  }
}

.page-form__submit-button {
  @media (min-width: $medium-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  @media (min-width: $wide-width) {
    grid-column: 2 / 4;
  }
}
