.page-form {
  color: $main-color;
}

.page-form__intro {

}

.page-form__title {
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $medium-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $wide-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.page-form__description {
  font-size: 13px;
  line-height: 24px;
  color: $main-color-lightest;

  @media (min-width: $medium-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.page-form__notice {
  font-size: 17px;
  line-height: 30px;
  color: $main-color-lightest;
}
