.page-header {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  color: $main-color;
  border-top: 1px solid $frame-color;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 320px 348px 1fr;
    grid-template-rows: minmax(88px, auto)
                        minmax(50px, auto);
    border: none;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1fr 420px 210px 420px 1fr;
  }
}

.page-header__logo-wrapper {
  display: flex;
  margin: 0;
  min-height: 79px;
  justify-content: center;
  align-items: center;

  @media (min-width: $medium-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: flex-start;
    margin: 0;
  }

  @media (min-width: $wide-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: normal;
    margin-left: 30px;
    margin-right: auto;
  }
}

.page-header__logo-link {
  display: flex;

  @media (min-width: $medium-width) {
    margin: 0;
  }

  @media (min-width: $wide-width) {

  }
}

.page-header__logo-link picture {
  display: flex;
  width: auto;
  height: auto;
}

.page-header__logo-link img {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  width: 86px;
  height: 35px;

  @media (min-width: $medium-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $wide-width) {
    width: 149px;
    height: 72px;
  }
}

.page-header__navigation-toggle {
  position: absolute;
  top: 31px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: 110px;
  border: none;
  // outline: none;
  background-color: $main-background-color;

  @media (min-width: $medium-width) {
    display: none;
  }

  &--closed {
    //С помощью JS: добавлять данный класс, убирать класс --opened. При повторном клике наоборот
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: $main-color;
      box-shadow: 0 6px 0 0 $main-color,
      0 12px 0 0 $main-color;
      transform: none;
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.4;
    }

    &:active::before,
    &:active::after {
      opacity: 0.2;
    }
  }

  &--opened {

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: -3px;
      width: 26px;
      height: 2px;
      background-color: $main-color;
      box-shadow: none;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
    &:hover::before,
    &:hover::after {
      opacity: 0.4;
    }

    &:active::before,
    &:active::after {
      opacity: 0.2;
    }
  }
}

.page-header__main-nav {
  &--general {
    @media (min-width: $medium-width) {
      z-index: 5;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    @media (min-width: $wide-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &--search {
    @media (min-width: $medium-width) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    @media (min-width: $wide-width) {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }
  }

  &--promo {
    @media (min-width: $medium-width) {
      z-index: 5;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    @media (min-width: $wide-width) {
      grid-column: 2 / -2;
      grid-row: 2 / 3;
    }
  }

  //&--closed {
  //  @media (max-width: $narrow-width-only) {
  //    display: none;
  //  }
  //}
}

.page-header__paint {
  @media (min-width: $medium-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: $background-color-header-index;
    border-top: 1px solid $frame-color;

    &--dark {
      background-color: $main-background-color-medium;
    }
  }
}
