.page-footer {
  display: grid;
  grid-template-columns: 260px;
  grid-template-rows: 80px 80px;
  justify-content: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  background-color: $main-background-color-medium;

  @media (min-width: $medium-width) {
    grid-template-columns: repeat(4, 167px);
    grid-template-rows: 143px;
  }

  @media (min-width: $wide-width) {
    grid-template-columns: repeat(6, 175px);
    grid-template-rows: 143px;
  }
}
