.page-header {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  color: $main-color;
  //Тут должна быть тень, а не рамка
  border-top: 1px solid $frame-color;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 320px 348px 1fr;
    grid-template-rows: minmax(88px, auto)
                        minmax(50px, auto);
  }

  @media (min-width: $wide-width) {
    grid-template-columns: 1fr 420px 210px 420px 1fr;
  }
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 79px;

  @media (min-width: $medium-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: flex-start;
    margin: 0;
  }

  @media (min-width: $wide-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: center;
  }
}

.page-header__logo-link {
  display: block;
  width: 85.6px;
  height: 35px;
  margin: 0 auto;

  @media (min-width: $medium-width) {
    width: 112.4px;
    height: 46.1px;
    margin: 0;
  }

  @media (min-width: $wide-width) {
    width: 148.1px;
    height: 72.7px;
  }
}

.page-header__logo-link img {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__navigation-toggle {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: 109px;
  border: none;
  // outline: none;
  background-color: $main-background-color;

  @media (min-width: $medium-width) {
    display: none;
  }

  // &--closed {
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 20px;
  //     height: 2px;
  //     background-color: $main-color;
  //     box-shadow: 0 6px 0 0 $main-color,
  //                 0 12px 0 0 $main-color;
  //   }
  // }

  &--opened {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: -1px;
      width: 22px;
      height: 2px;
      background-color: $main-color;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.page-header__main-nav {
  &--general {
    @media (min-width: $medium-width) {
      z-index: 5;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    @media (min-width: $wide-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &--search {
    @media (min-width: $medium-width) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    @media (min-width: $wide-width) {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }
  }

  &--promo {
    @media (min-width: $medium-width) {
      z-index: 5;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    @media (min-width: $wide-width) {
      grid-column: 2 / -2;
      grid-row: 2 / 3;
    }
  }
}

.page-header__paint {
  @media (min-width: $medium-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: $background-color-header-index;
    border-top: 1px solid $frame-color;

    &--dark {
      background-color: $main-background-color-medium;
    }
  }
}
