.page-catalog__title {
  align-items: center;
  height: 177px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $main-color;
  text-align: center;
  background-color: $main-background-color-medium;

  @media (min-width: $medium-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $wide-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
