.page-form {
  color: $main-color;
}

.page-form__title {
  font-size: 53px;
  line-height: 57px;
}

.page-form__description {
  color: $main-color-lightest;
}

.page-form__notice {
  font-size: 17px;
  line-height: 30px;
  color: $main-color-lightest;
}
