.page-main {

}

.page-main__intro {
  min-height: 281px;
  margin-left: 1px;
  background-color: $background-color-header-index;
  background-image: url("../img/cute-stuff-narrow@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -19px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cute-stuff-narrow@2x.jpg");
    background-size: 575px auto;
  }

  @media (min-width: $medium-width) {
    min-height: 577px;
    background-image: url("../img/cute-stuff-wide@1x.jpg");
    background-position: center -50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cute-stuff-wide@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

.page-main__title {
  margin: 0;
  padding-top: 71px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $main-color;
  text-align: center;

  @media (min-width: $medium-width) {
    padding-top: 105px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $wide-width) {
    padding-top: 108px;
    font-size: 53px;
    line-height: 57px;
  }
}
