.popular-product {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}

.popular-product__title {
  font-weight: 700;
  font-size: 53px;
  line-height: 57px;
}

.popular-product__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
}

.popular-product__specifications {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.popular-product__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popular-product__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
