.popular-product {
  font-weight: 700;
}

.popular-product__title {
  font-size: 25px;
  line-height: 30px;
  color: $main-color;
}

.popular-product__to-order {
  display: flex;
  flex-direction: column;
}

.popular-product__label {
  line-height: 20px;
  color: $secondary-color;
  text-transform: uppercase;
}

.popular-product__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.popular-product__specifications {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.popular-product__price {
  line-height: 24px;
}
