.slider {
  position: relative;
  display: flex;
  width: 260px;
  border: 1px solid $frame-color;
  margin-top: 30px;

  @media (min-width: $medium-width) {
    position: absolute;
    right: 50px;
    bottom: 51px;
    width: auto;
    border: none;
  }

  @media (min-width: $wide-width) {
    right: 0px;
    bottom: 95px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0px;
    width: 1px;
    height: 50px;
    background-color: $frame-color;

    @media (min-width: $medium-width) {
      display: none;
    }
  }
}

.slider__toggle {
  width: 129px;
  min-height: 50px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);

    svg {
      opacity: 0.6;
    }

    @media (min-width: $medium-width) {
      box-shadow: none;
      background-color: $main-background-color-medium;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  @media(min-width: $medium-width) {
    width: 85px;
  }
}

.slider__icon {

  &--left {
    margin-right: 5px;
  }

  &--right {
    margin-right: 4px;
  }
}
