.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  //@media (min-width: $medium-width) {
  //  margin-left: 57px;
  //}
  //
  //@media (min-width: $medium-width) {
  //  margin-left: 64px;
  //}
}

.social-list__item {
  svg {
    fill: $main-color-medium
  }

  &:hover {
    svg {
      fill: $secondary-color-medium--hover;
    }

    &:active {
      fill: $secondary-color-medium--hover;
      opacity: 0.3;
    }
  }

  &----instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

   &--twitter {
    width: 23px;
    height: 20px;
  }
}

.social-list__link {
  display: block;
}

.social-list__icon {
  display: block;
}
