.specifications {

}

.specifications__group-1 {
  margin-top: 30px;

  @media (min-width: $medium-width) {
    margin-top: 20px;
  }

  @media (min-width: $wide-width) {

  }
}

.specifications__group-2 {
  margin-top: 31px;

  @media (min-width: $medium-width) {
    margin-top: 0px;
  }
}
