.wishes {
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;


  textarea::placeholder {
    opacity: 0.3;
  }

  @media (min-width: $medium-width) {
    grid-template-columns: repeat(4, 167px);
  }

  @media (min-width: $wide-width) {
    grid-template-columns: repeat(6, 175px);
  }
}

.wishes__label {
  line-height: 16px;
  font-weight: 700;
  color: $secondary-color;
  text-transform: uppercase;

  @media (max-width: $narrow-width-only) {
    position: relative;

    &::after {
      position: absolute;
      top: 7px;
      right: 0;
      content: "";
      width: 200px;
      height: 1px;
      background-color: $secondary-color-lightest-type1;
    }
  }

  @media (min-width: $medium-width) {
    grid-column: 1 / 2;
    padding-top: 42px;
  }

  @media (min-width: $wide-width) {
    padding-left: 62px;
  }
}

.wishes__textarea {
  width: 260px;
  padding: 16px 15px 15px 15px;
  margin-top: 22px;
  min-height: 142px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: $main-color;
  border: 2px solid $main-color-lightest;
  outline: none;
  resize: none;

  &:focus,
  &:hover {
    border-color: $secondary-color-lightest-type1;
  }

  &:active {
    border-color: $secondary-color-lightest-type1;
  }

  @media (min-width: $medium-width) {
    grid-column: 2 / -1;
    width: 501px;
    padding-top: 15px;
    font-size: 19px;
  }

  @media (min-width: $wide-width) {
    grid-column: 2 / -2;
    width: 700px;
  }
}
