//Colors
$main-color: #000000;
$main-color-medium: #231f20;
$main-color-lightest: #444444;
$secondary-color: #63d1BB;
$secondary-color-darkest: #149080;
$secondary-color-medium: #56C3B2;
$secondary-color-lightest-type1: #62D1BA;
$secondary-color-lightest-type2: #6BC6B3;
$main-background-color: #ffffff;
$main-background-color-darkest: #ececec;
$main-background-color-medium: #f1f1f1;
$main-background-color-light: #F9F9F9;
$main-background-color-lightest: rgba(255, 255, 255, 0.75);
$color-behind-layout: #C7C7C7;
$background-color-header-index: #FAFAFA;
$frame-color: #ECECEC;

//Fonts
$main-font: "Open Sans", "Arial", sans-serif;

//Viewports
$narrow-width: 320px;
$medium-width: 768px;
$wide-width: 1150px;
$narrow-width-only: 767px;
$medium-width-limit: 1149px;
